<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OutlinerGodApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.OutlinerGod">

        <!-- namespace = com.gmaingret.outlinergod -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- exported for ADB testing -->
        <activity
            android:name=".prototype.DndPrototypeActivity"
            android:exported="true"
            android:label="DnD Prototype" />

        <!-- exported for ADB testing -->
        <activity
            android:name=".prototype.WysiwygPrototypeActivity"
            android:exported="true"
            android:label="WYSIWYG Prototype" />

        <!-- FileProvider for sharing exported ZIP files via ShareSheet -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Disable automatic WorkManager initialization (Hilt handles it) -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>

</manifest>
